################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiFitnessDataImport/v15
/MiFitnessDataImportAgent/bin
/MiFitnessDataImportAgent/obj
